@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;800;900&display=swap');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	position: relative;
	height: 100%;

}

body {
	height: 100%;
	font-family: 'Poppins', sans-serif;
}


.bg-login{
	padding: 4em;
	background-color: #fbfbfb;
}

.bg-register{
	height: 100%;
	background-color: #fbfbfb;
}

.age{
	width: 3em;
	height: 3em;
	font-size: 2em;
	font-weight: 900;
	margin: auto;
	background-color: #1a1a1a;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}